<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Marcus Cvjeticanin</title>
        <link rel="stylesheet" href="/blog/styles.css" />
    </head>
    <body>
        <header>
            <h1>Marcus Cvjeticanin</h1>
        </header>
        <main>
            <h2>Posts</h2>
            <ul>
                {% for post in posts %}
                <li>
                    <a href="{{ post.url }}"
                        >{{ post.date }}: {{ post.title }}</a
                    >
                </li>
                {% endfor %}
            </ul>
        </main>
        <footer>
            <p>© 2025 My Blog</p>
        </footer>
    </body>
</html>
